.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;

  &:hover {
    border-color: var(--accent-border);
    cursor: pointer;
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

body{
  margin:0;
  padding:0;
  overflow-y: hidden;
  overflow-x: hidden;
}

#root{
  padding:0;
  margin:0;
  width: 100vw;
}

#display-information{
  width:30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100%;
  margin:0;
  padding:0;

}

#ui-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
  width:100vw;
  height:100vh;
}

#login-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width:60vw;
  gap:5vh;
  justify-content: flex-start;
  background-color:rgb(48, 48, 48);
  padding:4vw;
  height: 100vh;
}

.gap{
  height:5vh;
  width:80%;
  @media (max-height: 650px){
    height:1vh;
  }
}

#profile-picture{
  width:6rem;
  height: 6rem;
  background-color: rgb(245, 209, 6);
  border-radius: 0.3rem;
}

.button{
  width:50vw;
  border-radius: 0.3rem;
  border: solid 1px white;
  padding:0.5vw;
}

.text-input{
  width:50vw;
  border-radius: 0.3rem;
  border: solid 1px white;
  padding:0.5vw;
}

p{
  color:white;
  margin-bottom:0.5vh;
  margin-top:1vh;
  font-size:large;
}

#heading,#inputs{
  width:80%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width:100%;
  gap:1vh;
}

#heading h1{
  font-weight:600;
  margin:0;
}

#inputs{
  gap:0;
}

#inputs p{
  margin:0;
  padding:0;
}

#inputs input{
  box-sizing: border-box;
  width:100%;
}

#buttons button{
  width:50vw;
  box-sizing: border-box;
}

#buttons button:hover{
  cursor: pointer;
}

#display-information h1{
  font-weight: 600;
}

#buttons{
  flex-direction: row;
  display: flex;
  gap:5%;
}

#loading-text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}