#news-item{
  display: grid;
  grid-template-columns: 1fr 0.5fr 2.5fr 5fr 1fr;
  grid-template-columns: 12% max(5%, 4vh) 20% 50% 13%;
  gap:0;
  margin:1vh;
  align-items: center;
  padding:1vh;
  border-radius: 0.6rem;
  border: #ffffff42 solid 1px;
}

#news-item > *{
  height:100%;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
}

#news-item:hover{
  background-color: grey;
  text-decoration: underline;
  cursor: pointer;
}

#news-item h1{
  margin:0.5vw;
  font-size: 2vw;
}

.pending-grid-cell{
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon-grid-cell{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-grid-cell{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.description-grid-cell{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.date-grid-cell{
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pending{
  background-color: #F08A3A;
}

.completed{
  background-color: #0FBF3E;
}

#pending-icon{
  width: 3vh;
  height:3vh;
  padding:0.5vh;
  border-radius: 2rem;
}